.DS_Store
*~
*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/simro.owl
src/ontology/simro.obo
src/ontology/simro.json
src/ontology/simro-base.*
src/ontology/simro-basic.*
src/ontology/simro-full.*
src/ontology/simro-simple.*
src/ontology/simro-simple-non-classified.*
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns 
*.tmp.obo
*.tmp.owl
